.GameTurnCluesHeader .OrderGuess {
  text-align: center;
}
.GameTurnCluesHeader .OrderActual {
  text-align: center;
}
.Order.teamOpposite {
  opacity: 0.6;
}
.GameTurnCluesHeader .Order,
.GameTurnClues .Order {
  text-align: center;
}
.GameTurnCluesHeader .ant-col,
.GameTurnClues .ant-col {
  /* TODO fix this, align middle */
  vertical-align: middle;
  min-height: 2.8em;
}
.GameTurnBlockFuture .GameTurnCluesHeader .Order {
  display: none;
}

.Word {
  text-align: center;
  font-weight: bold;
}

.WHITETeam,
.BLACKTeam .teamOpposite,
.BLACKTeam .teamOpposite .ant-typography {
  background-color: #eee;
  color: #333;
}

.BLACKTeam,
.BLACKTeam .ant-typography,
.BLACKTeam .ant-card,
.BLACKTeam .ant-card-body,
.BLACKTeam .ant-card-head-title,
.WHITETeam .teamOpposite,
.WHITETeam .teamOpposite .ant-typography {
  background-color: #333;
  color: #eee;
}
.BLACKTeam .ant-typography-warning,
.WHITETeam .teamOpposite .ant-typography-warning {
  background-color: #333;
  color: #faad14;
}
.BLACKTeam .ant-card-actions,
.BLACKTeam .ant-list-header,
.BLACKTeam .ant-list-footer {
  background-color: #444;
  color: #eee;
}
.BLACKTeam .ant-skeleton-content .ant-skeleton-paragraph > li {
  background-color: #444;
}

.TimeoutClock {
  padding: 10px;
  /* text-align: center; */
}

/* TODO copy dark theme css for input forms, etc */
